ORACLE_ADDRESS=
PRIVATE_KEY_GALADRIEL=
AGENT_CONTRACT_ADDRESS=
CHAIN_ID=696969
RPC_URL=
PRIVATE_KEY=
AGENT_FACTORY_ADDRESS=
PINATA_API_KEY=
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_PRIVATE_KEY=
HEDERA_ACCOUNT_PRIVATE_KEY=
HEDERA_ACCOUNT_ID=